@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: 'Cormorant Garamond', serif;
}

:root {
  --boxColor: #613774;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.title {
  z-index: 2;
  position: absolute;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.box-text {
  font-weight: 700;
  color: var(--boxColor);
}

nav {
  position: absolute;
  z-index: 2;
  padding: 4rem 8rem;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.nav-text .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.controls {
  position: absolute;
  z-index: 2;
  bottom: 20%;
  left: 50%;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -20%);
}

.controls label {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.input-color {
  width: 50%;
  height: 20px;
  border: none;
  cursor: pointer;
}
.input-color::-webkit-color-swatch-wrapper {
  padding: 0;
}
.input-color::-webkit-color-swatch {
  border: none;
}

